<%- include ('layouts/header'); -%>
    <!-- Main Content-->

    <h1 class='content-wrapper-title'>The Salt Lake City Chess Club</h1>
    <div class="content-wrapper">
      <div class="text-content">




        <!-- <img id="logo" loading="lazy" src='/img/chess_logo_compressed.jpg' style='height: 150px; width: 150px;' srcset="/img/chess_logo_compressed.jpg 1x" height=170 width=170 alt='logo'> -->


        <% for (var i = 0; i < blogposts.length; i++) { %>
          <%- blogposts[i].body %>
        <% } %>
        <div class="text-content">
          <%- include('layouts/lichess');-%>
        </div>
        <div class="centered-text-insta">
          <%- include('layouts/insta');-%>
        </div>
        <!-- <div class="centered-text-insta">
          <%- include('layouts/lichess');-%>
        </div> -->
      </div>



    <div class="image-grid">
      <picture>
        <img loading="lazy" src="/img/katie_tf_compressed_redo.jpg" height=150 width=100 alt="katie_playing_chess_with_friends">
      </picture>
      <picture>
        <img loading="lazy" src="/img/johnny_compressed.jpg" height=150 width=100 alt="friendly_person_wants_to_play_chess_SLC">
      </picture>
      <picture>
        <img loading="lazy" src="/img/sarah_loki_compressed.jpg" srcset="/img/sarah_loki_compressed.jpg 1x" height=150 width=100 alt="Sarah_challenging_chess_position">
      </picture>
      <picture>
        <img loading="lazy" src="/img/father_nathan_compressed.jpg" height=150 width=100 alt="father_nathan_playing_chess_with_community">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_jim_compressed.jpg" srcset='/img/chess_jim_compressed.jpg 1x' height=100 width=150 alt="chess_jim">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_table_beanie.jpg" srcset='/img/chess_table_beanie.jpg 1x' height=100 width=150 alt="chess_community">
      </picture>
      <picture>
        <img loading="lazy" src="/img/sad_chess.jpg" srcset="/img/sad_chess.jpg 1x" height=150 width=100 alt="He_is_so_sad">
      </picture>
      <picture>
        <img loading="lazy" src="/img/toly_compressed_chess.jpg" srcset="/img/toly_compressed_chess.jpg 1x" height=150 width=100 alt="Toly_looking_handsome_as_fuck">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_tf_table_two.jpg" srcset="/img/chess_tf_table_two.jpg 1x" height=150 width=100 alt="sick_turnout">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_vertical_jack.jpg" srcset="/img/chess_vertical_jack.jpg 1x" height=150 width=100 alt="Jack_is_scary">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_loki_4_compressed_2.jpg" srcset="img/chess_loki_4_compressed_2.jpg 1x" height=150 width=100 alt="everyone_playing_chess">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_loki_3_compressed_redo.jpg" srcset="/img/chess_loki_3_compressed_redo.jpg 1x" height=150 width=100 alt="Matt_waiting_for_opponent">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_watch.jpg" srcset="/img/chess_watch.jpg 1x" height=150 width=100 alt="This_player_is_suave_and_smooth_as_fuck">
      </picture>
      <picture>
        <img loading="lazy" src="/img/christian_looking_boss.jpg" srcset="/img/christian_looking_boss.jpg 1x" height=150 width=100 alt="He_is_still_so_sad">
      </picture>
      <picture>
        <img loading="lazy" src="/img/payton_looking_fly.jpg" srcset="/img/payton_looking_fly.jpg 1x" height=150 width=100 alt="Payton_looks_fly_as_fuck">
      </picture>
      <picture>
        <img loading="lazy" src="/img/guy_anna.jpg" srcset="/img/guy_anna.jpg 1x" height=150 width=100 alt="guy_got_rizz.jpg">
      </picture>
      <picture>
        <img loading="lazy" src="/img/guy_anna_2.jpg" srcset="/img/guy_anna_2.jpg 1x" height=150 width=100 alt="guy_still_got_rizz">
      </picture>
      <picture>
        <img loading="lazy" src="/img/guy_looks_fresh.jpg" srcset="/img/guy_looks_fresh.jpg 1x" height=150 width=100 alt="a_master_making_sweet_love_to_the_chessboard">
      </picture>
    </div>
    </div>
  </body>
</html>
